.clients {
  --card-item: 2;

  @media screen and (min-width: 768px) {
    --card-item: 3;
  }
  @media screen and (min-width: 1200px) {
    --card-item: 6;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}
.clients__item {
  width: calc(100% / var(--card-item) - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);

  // margin-right: var(--card-gap);
  // margin-bottom: var(--card-gap);
  // width: calc((100% - var(--card-item) * 30px) / var(--card-item));
}
.clients__link {
  max-width: 210px;
  max-height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: var(--second-priority-color);

  @extend %align-list;
  justify-content: center;
  transition: border var(--main-effect);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    max-width: 226px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--main-effect);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
