.footer {
  background: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  // .container {
  //   display: flex;
  //   align-items: baseline;
  // }
}

.footer-container {
  text-align: center;
  max-width: 450px;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 768px;
  }

  @include desk {
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: start;
    max-width: 1200px;
  }
}
.footer__wrap {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  @media screen and (max-width: 1199px) {
    &:nth-child(1) {
      margin-bottom: 60px;
    }
    &:nth-child(2) {
      margin-top: 5px;
    }
  }

  @include desk {
    &:not(:last-child) {
      margin-right: 70px;
    }

    &:last-child {
      margin-left: auto;
    }
    &:nth-child(n + 2) {
      margin-top: 12px;
    }
  }
}

.footer__link {
  font-style: normal;
  @include font(14px, 400, 0.03em, 1.71);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-effect);
  &:hover,
  &:focus {
    color: var(--second-priority-color);
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__address {
  color: var(--second-priority-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__title {
  text-transform: uppercase;
  @include font(14px, bold, 0.03em, 1.14);
  color: var(--second-priority-color);
  margin-bottom: 20px;
}
.footer__social {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__icon {
  fill: var(--second-priority-color);
  transition: fill var(--main-effect);
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desk {
    width: 570px;
    flex-wrap: nowrap;
  }
}

.footer-form__input {
  display: inline-block;

  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  color: var(--main-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-image: initial;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--main-effect), outline var(--main-effect);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: transparent;
  }
}

.footer-form__input {
  &:focus + .footer__label {
    transform: translateY(-50px);
    color: transparent;
  }
}

.footer-form__button {
  @extend %align-list;

  padding: 10px 28px;
  width: 200px;
  height: 50px;
  color: var(--second-priority-color);
  @include font(16px, bold, 0.06em, null);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--main-effect);
  &:hover,
  &:focus {
    background-color: var(--background-accent);
  }
  @include desk {
    margin-left: 12px;
  }
}
.footer-form__icon {
  margin-left: 10px;
}
