.header {
  border-bottom: 1px solid var(--header-border-color);
  position: relative;
}

.site-nav,
.site-list {
  @extend %align-list;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact-list {
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @include desk {
    display: flex;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding: 15px;
  @include tab {
    padding: 0;
  }
}

.site-list {
  color: var(--main-color);
}
.contact-list--top {
  margin-left: auto;
}
.site-nav__logo {
  display: flex;

  @include tab {
    margin-right: 87px;
  }
  @include desk {
    margin-right: 93px;
  }
}

.site-list__link {
  @extend %align-list;
  @include font(null, 500, 0.02em, 1.14);

  padding-top: 35px;
  padding-bottom: 32px;
  transition: color var(--main-effect);
  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
}
.contact-list__link {
  @include font(12px, 500, 0.02em, 1.16);

  @include desk {
    display: flex;
    align-items: center;
    @include font(14px, 500, 0.02em, 1.14);

    padding-top: 35px;
    padding-bottom: 32px;
    transition: color var(--main-effect);
    &:hover,
    &:focus,
    .current {
      color: var(--accent-color);
    }
  }
}
.contact-list__item {
  margin: 0;
  padding: 0;
}
.site-list__item:not(:last-child) {
  margin-right: 50px;
  @include desk {
    margin-right: 50px;
  }
}
.contact-list__item {
  @include desk {
    margin-right: 50px;
  }
}
.contact-list__icon {
  /* fill: var(--main-text-color); */
  fill: currentColor;
  @include desk {
    margin-right: 10px;
  }
}

.site-list__link {
  position: relative;
}
.site-list__link.current {
  &::after {
    content: "";
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.menu-toggle {
  display: inline-flex;
  padding: 0;
  border: none;

  margin-left: auto;

  background-color: transparent;
  &:hover,
  &:focus {
    .menu-toggle__icon {
      fill: var(--accent-color);
    }
  }

  @include tab {
    display: none;
  }
}
.menu-toggle__icon {
  fill: var(--third-color);
  transition: fill var(--main-effect);
}
