.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--second-priority-color);
  z-index: 999;

  // скрывает модальное окно
  transform: translateX(100%);
  transition: transform var(--main-effect);

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    height: 100vh;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.close-menu {
  display: block;
  position: absolute;
  right: 25px;
  top: 27px;
  color: transparent;
}

.close-menu__icon {
  transition: fill var(--main-effect);

  .close-menu:hover &,
  .close-menu:focus & {
    fill: var(--accent-color);
  }
}
.mob-menu-list {
  margin-bottom: auto;
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-list__link {
  @include font(40px, 500, 0.02em, 1.17);
  color: var(--main-color);
  transition: color var(--main-effect);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-contact-list {
  margin-bottom: 64px;
}
.mob-contact-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-contact-list__tel {
  @include font(34px, 500, 0.02em, 1.17);
  color: var(--accent-color);
}
.mob-contact-list__mail {
  @include font(24px, 500, 0.02em, 1.16);
  transition: color var(--main-effect);
  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
}

.mob-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.mob-social-list__item {
  padding-top: 10px;
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mob-social__link {
  @include font(18px, 500, 0.02em, 1.22);
  color: var(--accent-color);
  transition: color var(--main-effect);
  &:hover,
  &:focus {
    color: var(--background-accent);
  }
}
