.team {
  background-color: var(--background-color);
  @media screen and (min-width: 768px) {
    --card-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-item: 4;
  }
}
.card-list {
  width: 100%;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__photo {
  max-height: 460px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
    max-height: 374px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
    max-height: 260px;
  }
}

.team__name,
.team__position {
  @include font(16px, null, null, 1.18);
  text-align: center;
  margin-bottom: 16px;
}
.team__card {
  @media screen and (max-width: 479px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  padding: 30px 122px 24px 122px;
  border: var(--card-border);
  border-top: 0;
  background-color: var(--second-priority-color);

  @media screen and (min-width: 768px) {
    padding: 30px 74px 24px 74px;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px;
  }
}
.team__name {
  font-weight: 500;
  color: var(--main-color);
  /* margin-top: 30px; */
  margin-bottom: 10px;
}
