.card-set {
  // display: block;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @include tab {
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }
}

.card-set__item {
  @include tab {
    width: calc(100% / var(--card-item) - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}
